/* =============
    events
============= */
#events {

    width: 100%;
    height: 100%;
    display: flex;

    .events-container {
        display: flex;
        flex-direction: column;
        // align-content: center;


        .container {  
            display: flex;
        }


    }

    #gallery {
        display: flex;

        .column {
            display: flex; 
        }

    }


}