/* =============
    events
============= */
#events{
    display: flex;
    
}
.events-container{
    display: flex;
    
}

.container{
    display: flex;
    
}
#heading{
    display: flex;
    
}
#events-gallery{
    display: flex;
    
}
