/* =============
    hero
============= */


#hero-section {

    .hero-container {

        img {
            width: 100vw;
            height: 100vh;
            background: url(img/hero/hero-cover-1.jpg);
            background-repeat: no-repeat;
            // border: 20px solid yellow;
            z-index: -200;
        }

        h1 {
            width: 700px;
            height: 200px;
            margin: -500px 900px 100px 300px;
        }

    }

}