/* =============
    news
============= */
#news-section {
    background-color: pink;

    .news-grid {
        background-color: red;

        #popular-news-section {
            background-color: blue;

            .RT-col {
                background-color: green;


                .title-container {

                    background-color: orange;


                }


                ol {

                    background-color: purple;





                }
            }


        }

        #latest-news-section {
            background-color: red;

            .title-container {
                background-color: red;

                h2{
                    background-color:none;


                
                }







            }

            img {
                background-color: grey;




            }

            ul {
                background-color: red;

                li {
                    background-color: blue;




                }





            }




        }




        .news-1 {
            background-color: navy;

            img {
                background-color: red;

            }


            ul {
                background-color: red;

                li {
                    background-color: red;




                }




            }













        }

        .news-2 {
            background-color: lime;

            img {
                background-color: red;




            }

            ul {
                background-color: red;

                li {
                    background-color: red;




                }




            }




        }

        .news-3 {
            background-color: yellow;

            img {
                background-color: lime;




            }

            ul {
                background-color: grey;

                li {
                    background-color: red;




                }




            }




        }


    }




}

// section{
//     background-color: aqua;
// }