/* =============
    news
============= */
#news {
    display: grid;


    .news-conatiner {
        display: block;
    }
}

#popular {
    display: grid;

    .news-conatiner {

        .container {

            h2 {
                display: flex;
            }

            ol {
                display: flex;

                li {
                    display: block;

                }
            }
        }

    }
}


#latest{
    display: grid;

    .news-conatiner {


        h2 {
            display: flex;

        }

        img {
            display: flex;

        }

        ul {

            li {
                display: flex;
            }
        }
    }
}


#upcoming-events {
    display: grid;

    .news-conatiner {

        display: flex;


        .event-1 {
            a {
                img {
                    display: block;
                }

                p {
                    display: flex;

                }
            }
        }

        .event-2 {
            a {
                img {
                    display: block;
                }

                p {
                    display: flex;

                }
            }
        }

        .event-3 {
            a {
                img {
                    display: block;
                }

                p {
                    display: flex;

                }
            }
        }

        .event-4 {
            a {
                img {
                    display: block;
                }

                p {
                    display: flex;

                }
            }
        }
    }
}