/* =============
    news
============= */
#news-section {
    display: grid;
    background-color: aqua;

    .news-grid {
        display: flex;
    }
}

#popular-news-section {
    display: grid;

    .RT-col {

        .container {

            h2 {
                display: flex;
            }

            ol {
                display: flex;

                li {
                    display: flex;

                }
            }
        }

    }
}


#latest-news-section {
    display: grid;

    .container {


        h2 {
            display: flex;

        }

        img {
            display: flex;

        }

        ul {
            
            li {
                display: flex;
            }
        }
    }
}


#events-gallery{
    display: grid;

    .gallery-container {

        display: flex;
        
        
        .event-1{
            a{
                img{
                    display: block;
                }
                p{
                    display: flex;
            
                }
            }
        }

        .event-2{
            a{
                img{
                    display: block;
                }
                p{
                    display: flex;
            
                }
            }
        }

        .event-3{
            a{
                img{
                    display: block;
                }
                p{
                    display: flex;
            
                }
            }
        }

        .event-4{
            a{
                img{
                    display: block;
                }
                p{
                    display: flex;
            
                }
            }
        }


       

        
       
    }
}