/* =============
    Header
============= */
header {

   

    .container {
        

        #logo-container {

            margin: 0%;

            #logo {

                svg {
                    margin: 0%;
                }
            }
        }

        #burger-container {
            
            @include lg {
                display: none !important;
            }
            // burger svg
            #burger {
                justify-content: center;
                align-items: center;
                position: absolute;
                z-index: 1000;
                height: 40px;
                width: 40px;
            }
        }

        #nav-container {

            display: none;

            @include lg {
                @media (min-width: #{$screen-lg-min}) {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    padding: 0px;
                }
            }


            #navigation{

                display: flex;
                align-items: center;
                text-align: center;

                ul {
                    

                    li {

                        font-family: Antonio;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 36px;
                        line-height: 80px;

                        #music {
                            margin: 0;
                        }

                        #events {
                            margin: 0;
                        }

                        #magazine {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}