/* =============
    Header
============= */
header {
    
    display:flex;
    flex-grow: inherit;
    
    // grid-template-columns: 1fr 1fr 1fr;
   

    flex-direction: row;
    
}

.container {
    display: flex;
}

#logo {
    
    display: flex;

    // justify-content: flex-end;
    // align-items: center;
}

#burger-container {
    // grid-area: burger;

    #burger{
        display: flex;


    }



    @include md {
        display:contents;
    }

    @include lg {
        display: none;
    }

}


#nav-section {

    border: 1px solid green;
    // width: 500px;
    // height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    // @include lg {
    //     justify-content: flex-end;
    // }



    ul {
        @include lg {
            display: flex;
            // justify-content: flex-end;
        }

        li {
            
            display: flex;
            // align-items: center;
            // text-align: center;
            // text-align: right;

            @include lg {

                // border-right: 2px solid $charcoal;
                display: flex;
                // margin-bottom: 0px;
            }

            button {
                background-color: transparent;
                // color: $white;
                font-family: 'Antonio';
                font-size: rem-calc(30);
                text-decoration: none;
                transition: 0.25s;
                cursor: pointer;
                // color: $white;

                @include lg {
                    color: $black;
                    font-size: rem-calc(20);
                }

            }

            a:link,
            a:visited {
                color: $white;
                font-family: 'Antonio';
                font-size: rem-calc(30);
                padding: 22px;
                text-decoration: none;
                transition: 0.35s;

                @include lg {
                    color: $black;
                }

                &:hover,
                &:active {
                    color: magenta;
                }
            }
        }

        // li:last-child {
        //     border: none;
        // }
    }

}